### Q1. What is a database? Differentiate between SQL and NoSQL databases.
databases:-A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

Differentiate between SQL and NoSQL databases:-

1.SQL pronounced as “S-Q-L” or as “See-Quel” is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.

2.Comparing SQL vs NoSQL databases, SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.

3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

4.SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.

5.Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1.Create is used to create a whole database or just a table.
example:-CREATE TABLE Customers;

2.DROP is used to delete a whole database or just a table.
example:-DROP TABLE Customers;

3.ALTER TABLE command adds, deletes, or modifies columns in a table.
example:-ALTER TABLE Customers ADD Email varchar(255);

4.Truncate is used to delete the data inside the table not the whole table.
example:-TRUNCATE TABLE  Customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

1.The INSERT statement introduces new rows into an existing table.
ex
2.The DELETE statement removes a row or combination of rows from a table.
3.The UPDATE statement enables users to update a row or group of rows in a table.

### Q4. What is DQL? Explain SELECT with an example.
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

SELECT: It is used to retrieve data from the database.
exaple:-select * customer_name

### Q5. Explain Primary Key and Foreign Key.
#### Primary Key
A primary key is a column -- or a group of columns -- in a table that uniquely identifies the rows of data in that table. For example, in the table below, CustomerNo, which displays the ID number assigned to different customers, is the primary key.
#### Foreign Key
A foreign key is the one that is used to link two tables together via the primary key. It means the columns of one table points to the primary key attribute of the other table. It further means that if any attribute is set as a primary key attribute will work in another table as a foreign key attribute. But one should know that a foreign key has nothing to do with the primary key.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

mycursor = mydb.cursor()


cursor():-Allows Python code to execute SQL command in a database session.

execute():-attempts to invoke a user-defined procedure

### Q7. Give the order of execution of SQL clauses in an SQL query.
1.  FROM	  Tables are joined to get the base data.
2.	WHERE	  The base data is filtered.
3.	GROUP BY  The filtered base data is grouped.
4.	HAVING	  The grouped base data is filtered.
5.	SELECT	  The final data is returned.
6.	ORDER BY  The final data is sorted.
7. LIMIT	  The returned data is limited to row count.